/* src/App.css */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap'); */

:root {
  background-color: #242424;
}

* {
  /* add custom fonts here */
  font-family: 'Roboto Flex', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 100px auto;
  width: 300px;
}

.default-button {
  background-color: white;
  border-radius: 8px;
  color: blue;
  font-size: 24pt;
  padding: 15px 50px;
  width: 300px;
}